model:
  model_name: 'MLP'
  input_size: 3
  hidden_size: 128
  output_size: 3
  num_layers: 4
  pos_dim: 2
  batch_norm: True
  act: 'relu'

data:
  dataset: 'CylinderFlow'
  data_path: '/hpc2hdd/home/zli416/jhaidata/DATA/Geo/cylinder_flow/data.h5'
  sample_factor: 1
  train_batchsize: 128
  eval_batchsize: 128
  in_t: 1
  out_t: 1
  duration_t: 100
  train_ratio: 0.8
  valid_ratio: 0.1
  test_ratio: 0.1
  normalize: True
  graph_type: 'coord'

train:
  random_seed: 0
  cuda: True
  device: 0
  epochs: 500
  patience: 50
  eval_freq: 1
  saving_best: True
  saving_checkpoint: False
  checkpoint_freq: 100

optimize:
  optimizer: 'AdamW'
  lr: 0.001
  weight_decay: 0.0001

schedule:
  scheduler: 'StepLR'
  step_size: 100
  gamma: 0.5

log:
  verbose: True
  log: True
  log_dir: './logs'
  wandb: False
  wandb_project: ''
